@page "/people"
<h2>Iterating Through A Simple List</h2>
<ul>
   @foreach (var person in _people) {

       <li>@person</li>
   }
</ul>

@code {

private string[] _people = new string[]
{"Jon", "Bob", "Alice"};

}